@import url("https://use.typekit.net/qle4smh.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



#consultant-locator-modal {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.modal-container {
  display: flex;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;

  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-style: normal;
    font-weight: 390;
    font-size: 14px;
    line-height: 20px;
  }

  a {
    font-style: normal;
    // font-weight: 390;
    font-size: 14px;
    line-height: 20px;
    color: #5A52B9;
  }

  .close-icon {
    height: 2em;
    width: 2em;
  }

  .modal {
    height: 860px;
    background-color: #fff;


  }

  .modal-heading {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 52px;
    }
  }

  .modal-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
  }

  .search-heading {
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    color: #686868;
  }

  .name-input::placeholder {
    font-weight: 420;
    font-size: 14px;
    line-height: 20px;
    color: #848484;
  }

  button {
    // font-weight: 420;
    font-size: 14px;
    line-height: 16px;
  }

  .results-list {
    &__heading {
      font-weight: 420;
      font-size: 14px;
      line-height: 20px;
      color: #686868;
    }
  }

  .close-modal {
    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .map-loading {
    img {
      opacity: 0.4;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      object-fit: cover;
    }

    p {
      z-index: 10;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .zip-input {
    font-weight: 420;
    font-size: 14px;
    line-height: 20px;
  }

  .map-marker {

    // width: 200px;
    // height: 225px;
    h2 {
      font-family: "brandon-grotesque", sans-serif;
      font-style: normal;
      font-weight: 450;
      font-size: 14px;
      line-height: 16px;
      color: #5A52B9;
    }

    p {
      font-family: "brandon-grotesque", sans-serif;
      font-style: normal;
      font-weight: 420;
      font-size: 12px;
      line-height: 16px;
    }

    button {
      font-family: "brandon-grotesque", sans-serif;
      font-style: normal;
      font-weight: 420;
      font-size: 14px;
      line-height: 16px;
      width: 100%;
    }

    a {
      font-family: "brandon-grotesque", sans-serif;
      font-style: normal;
      font-weight: 420;
      font-size: 12px;
      line-height: 16px;
    }
  }


  .view-details {
    color: #5A52B9;
    font-weight: 500;

    @media (min-width: 768px) {
      background-image: url("../../public/images/viewDetailsBackground.png");

    }

    &__name {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;

    }

    &__contact {
      font-family: "Inter", sans-serif;

      font-size: 15px;
      line-height: 16px;


    }

    &__location {
      font-family: "Inter", sans-serif;

      font-size: 15px;
      line-height: 20px;


    }

    img::before {
      background-color: rgba(240, 216, 171, 0.25);
      display: block;
      content: '';
      position: absolute;
      height: inherit;
      width: inherit;

    }

    img {
      border-color: #fff;
      width: 260px;
      height: 260px;
      border-radius: 50%;
      box-shadow: 0 0 50px #ccc;
      background-color: #fff;
    }

    button {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.numbered-text {
  font-family: "brandon-grotesque", sans-serif;

  font-weight: 450;
  font-size: 16px;
}

.consultant-card {
  max-width: 420px;
  padding: 12px 16px;

  &__selected {
    border-color: #5A52B9;
  }

  &__unselected {
    border-color: #eeeeee;
  }

  .consultant-box {
    &__name {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #29243E;
    }

    &__location {
      font-weight: 420;
      font-size: 12px;
      line-height: 16px;
      color: #727272;
    }
  }

  a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #5A52B9;

    @media (min-width: 768px) {
      font-size: 14px;


    }
  }
}

// map marker infowindow
.gm-style-iw-c {
  height: 250px !important;
  width: 275px;
}

.gm-style .gm-style-iw-c {
  padding: 0;
}

.test {
  flex-grow: 1;

  &__cards {
    height: 100%;
    overflow: auto;
  }

  &__card {
    height: 92px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.search-warning {
  color: #5A52B9;
  font-size: 14px;
}